/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--accent-color);
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  background-image: var(--gradient); 
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--card__title-weight);
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-font), sans-serif;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: min(100vw, 696px);
  margin-top: 100px;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
  border: 2px solid var(--accent-color);
  padding-top: 120px;
  font-weight: 400;
  text-align: center;
  background-color: var(--header__background-color);
}

.header__title {
  color: var(--accent-color);
  font-family: var(--accent-font), fantasy;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
}

.header__title-text {
  margin-bottom: 2px;
  color: var(--accent-color);
  font-family: var(--accent-font), fantasy;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.header__theme-menu {
  display: flex;
  justify-content: center;
  text-align: start;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 20px;
  font-family: var(--accent-font), fantasy;
}

/** Состояния кнопок **/

.theme-menu__button {
  position: relative;
  margin-left: 21px;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s ease;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background-color: var(--accent-color);
  transition: width 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  opacity: 60%;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 60%;
}

.theme-menu__button:hover {
  opacity: 60%;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 60%;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  animation: arrow-move 0.5s ease-in-out infinite;
  animation-direction: alternate;
}

/** Состояния кнопок **/

@media (width >= 1440px) {
  .header {
    padding-top: 136px;
  }
}

.cards__list-item {
  width: min(100vw, 696px);
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

.card__title {
  padding-top: 6px;
  padding-right: 10px;
  padding-bottom: 2px;
  padding-left: 10px;
  font-size: 18px;
  line-height: 21.78px;
  font-variation-settings: "wght" var(--card__title-weight);
  font-stretch: 145.5%;
}

.image__wrapper {
  position: relative;
}

.image__label {
  position: absolute;
  top: 25px;
  right: 13px;
  z-index: 1;
  opacity: 50%;
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  text-shadow: -1px 0 var(--stroke-color), 0 1px var(--stroke-color),
    1px 0 var(--stroke-color), 0 -1px var(--stroke-color);
  mix-blend-mode: hard-light;
}

@media (width >= 1440px) {
  .image__label {
    right: 25px;
  }
}

@supports ((-webkit-text-stroke: 1px #000000)) {
  .image__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--stroke-color);
  }
}

.card__image {
  width: 100%;
  height: 375px;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  object-fit: cover;
  object-position: center;
}

@media (width >= 1440px) {
  .card__image {
    height: 696px;
  }
}

.card__text {
  padding: 25px;
  padding-top: 21px;
  padding-right: 25px;
  padding-bottom: 6px;
  padding-left: 26px;
  line-height: 21px;
  font-variation-settings: "wght" var(--card__text-weight);
}

@media (width >= 1440px) {
  .card__text {
    padding-top: 26px;
    padding-right: 23px;
    padding-bottom: 3px;
    padding-left: 23px;
  }
}

.buttons {
  display: flex;
  justify-self: end;
  justify-content: end;
  align-items: start;
  gap: 6px;
  margin-top: 20px;
  margin-right: 25px;
  margin-bottom: 21px;
  margin-left: 25px;
}

.project-button {
  position: relative;
  display: flex;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.card__like-button {
  width: 130px;
  height: 40px;
}

.project-button::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 0%;
  height: 100%;
  background-color: var(--accent-color);
  transition: width 0.5s ease-in-out;
}

.project-button:hover::after {
  width: 100%;
}

.project-button:focus {
  box-shadow: 2px 2px var(--accent-color);
  outline: none;
}

.button__text {
  position: relative;
  z-index: 1;
  margin: auto;
  color: var(--button__text-color);
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  mix-blend-mode: difference;
}

.card__icon-button {
  position: relative;
  margin-top: 2px;
  border: none;
  padding: 0;
  background-color: transparent;
  transition: border 0.3s ease;
  cursor: pointer;
}

.card__icon-button::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  display: block;
  width: 43px;
  height: 40px;
  border: 2px solid var(--accent-color);
  opacity: 0%;
  transition: opacity 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
}

.card__icon-button:focus-visible::before {
  opacity: 100%;
}

/**-----------------РАБОТА С СЕРДЦЕМ--------------**/

.heart {
  transform-origin: center center;
}

.sparks {
  opacity: 0%;
}

.core {
  fill: var(--background-color);
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  fill: var(--background-color);
  transition: fill 0.3s linear;
}

.contour {
  fill: var(--accent-color);
  transition: fill 0.1s linear;
}

.card__icon-button:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s 0.05s linear;
}

.card__icon-button:active .core {
  fill: var(--heart__fill-color);
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: var(--heart__fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--heart__fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart__fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart__fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks-opacity 0.3s ease-in 0.3s;
}

/**-----------------РАБОТА С СЕРДЦЕМ--------------**/

.button__flex {
  display: flex;
  justify-content: center;
  margin-right: 35px;
  margin-left: 35px;
  padding-bottom: 100px;
}

.save__button {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 15px;
}

.floppy {
  z-index: 1;
  width: 28px;
  color: var(--button__text-color);
  mix-blend-mode: difference;
}

@media (width >= 1440px) {
  .save__button {
    padding-top: 16px;
    padding-right: 20px;
    padding-bottom: 16px;
    padding-left: 19px;
  }

  .floppy {
    width: 21px;
  }

}

.dialog__floppy {
  align-self: center;
  max-width: 55px;
  height: auto;
  color: var(--accent-color);
}

.dialog {
  width: 341px;
  border: 2px solid var(--accent-color);
  padding: 30px 42px;
  padding-top: 30px;
  padding-right: 10px;
  padding-bottom: 30px;
  color: var(--accent-color);
  font-family: var(--accent-font), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--background-color);
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 75%);
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.text-uppercase {
  text-transform: uppercase;
}

.fake_floppy {
  align-self: center;
  width: 40px;
  height: 40px;
  background-color: black;
}

.dialog__flex {
  display: grid;
  grid-template-columns: 39px 1fr;
  gap: 20px;
}

.dialog__button {
  justify-content: center;
  align-items: center;
  height: 38px;
  margin-right: 30px;
}

@media (width>=1440px) {
  .dialog {
    width: 357px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .dialog__text {
    padding-right: 5px;
  }
  .dialog__button {
    width: auto;
    margin-right: 0px;
  }
}

.dialog__text {
  text-transform: uppercase;
}

/** фильтры **/

.filter__sepia {
  filter: sepia(90%);
}

.filter__invert {
  filter: invert(1);
}

.filter__saturate {
  filter: saturate(300%);
}

.filter__hue-rotate {
  filter: hue-rotate(150deg);
}

.filter__multi {
  filter: grayscale(0.5) contrast(200%) blur(2px);
}

.filter__blur {
  filter: blur(1px);
}

.filter__contrast {
  filter: contrast(150%);
}

.filter__brightness {
  filter: brightness(120%);
}

/** фильтры **/
